@model Projeto_Dotnet8.Models.ViewModel.CriarMensagem
@{
    ViewData["Title"] = "Criar Solicitação";
}

@section Styles {
    <link rel="stylesheet" href="~/css/criar.css" />
    <link rel="stylesheet" href="~/css/header.css" />
}

<partial name="_Header" />

<body>
    <div class="titulo">
        <div class="bg1">
            <h1>Criar Solicitação</h1>
        </div>
        <div class="bg2"></div>
    </div>

    <section class='container'>
        <form asp-action="Criar" id="FormCriar" method="post">
            <label for="sala">Selecione a sala:</label>
            <select asp-for="SalaId" asp-items="@(new SelectList(Model.Salas, "ID", "Sala_Num"))" id="sala"
                name="SalaId" required>
                <option value="">Escolha uma sala</option>
            </select>

            <button type="submit" class="carregar" asp-controller="Principal" asp-action="Solicitacao" formnovalidate id="btnCarregar" disabled>Ver Computadores</button>
            <a asp-controller="Principal" asp-action="Index" id="secundario">Voltar</a>
        </form>
    </section>
</body>

@section Scripts{
    <script src="~/js/Criar.js"></script>
}