@model Projeto_Dotnet8.Models.ComputadorModels
@{
    ViewData["Title"] = "Dashboard";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/header.css" />

</head>

<header>
<partial name="_Header" />
</header>


<body>

    <section class="container">
    
    </section>


</body>

<footer></footer>