@{
    ViewData["Title"] = "Pagina Principal";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/indexADM.css" />

    @section Scripts {
        <script src="~/js/index.js"></script>
    }
</head>


<partial name="_HeaderADM" />

<a href="https://www.senaibahia.com.br/para-empresa/educacao-profissional/">

    <section class="banner"></section>
</a>

<body>
    <div class="container2">
        <div class="ferramentas">

            <a asp-controller="Computador" asp-action="CriarPC" class="card-link">
                <div id="card">
                    <img src="/IMG/t.webp" alt="">
                    <p>Criar Sala e Computador</p>
                </div>
            </a>

             <a asp-controller="Principal" asp-action="Salas" class="card-link">
                <div id="card">
                    <img src="/IMG/t4.webp" alt="">
                    <p>Salas e Computadores</p>
                </div>
            </a>

            <a asp-controller="Principal" asp-action="ListarADM" class="card-link">
                <div id="card">
                    <img src="/IMG/t2.webp" alt="">
                    <p>Lista de Notificações</p>
                </div>
            </a>

            <a asp-controller="Principal" asp-action="Dashboard" class="card-link">
                <div id="card">
                    <img src="/IMG/t3.png" alt="">
                    <p>Dashboard</p>
                </div>
            </a>

        
          

        </div>
    </div>

</body>

<footer></footer>

</html>