@{
    ViewData["Title"] = "Pagina Principal";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/header.css" />

    @section Scripts {
        <script src="~/js/index.js"></script>
    }

</head>


<partial name="_Header" />

<a href="https://www.senaibahia.com.br/para-empresa/educacao-profissional/">
    <section class="banner"></section>
</a>

<body>


    <div class="container2">
        <div class="ferramentas">

            <a asp-controller="Principal" asp-action="Criar" class="card-link">
                <div id="card">
                    <img src="/IMG/t.webp" alt="">
                    <p>Criar Notificação</p>
                </div>
            </a>

            <a asp-controller="Principal" asp-action="HistoricoSolicitacoes" class="card-link">
                <div id="card">
                    <img src="/IMG/t2.webp" alt="">
                    <p>Minhas Solicitações</p>
                </div>
            </a>

        </div>
    </div>

</body>

<footer></footer>

</html>