<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Acesso Negado</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>⛔ Acesso Negado</h2>
            <p>Você não tem permissão para acessar esta página.</p>
            <a href="/" class="btn-login">Voltar ao Início</a>
        </div>
    </div>
</body>
</html>