@font-face {
    font-family: 'Stack-Sans';
    src: url('../fonts/StackSansText-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background:
    linear-gradient(130deg, rgb(23, 15, 44), rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(80deg, rgb(138, 2, 143), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(250deg, rgb(33, 2, 170), rgb(0 0 255 / 0%) 70.71%);
    height: 130vh;
}

.titulo{
    height: 100px;
    max-width: 50%;
    margin-top: 20px;
    width: auto;
    margin-bottom: 20px;
    color: white;
    font-size: 10px;
    align-content: center;
    padding-left: 20px;
}

.titulo h1 {
    font-family: "Stack-Sans";
    font-weight: 500;
    font-size: 45px;
    border-bottom: 6px solid #ffffff;
    display: inline-block;
    padding-bottom: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    width: 50%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    width: 50%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

form input,
form select,
form textarea {
    min-width: 80%;
    padding: 10px;
    font-size: 14px;
    background: rgb(236, 236, 236);
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #007bff;
}

form button {
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

form button:hover {
    background-color: rgb(249, 166, 52);
}

.carregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#editar{
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

#editar:hover{
    background-color: rgb(249, 166, 52);
    color: white;
}

#secundario{
    background-color: rgb(38, 48, 65);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
}



#secundario:hover{
    background-color: rgb(104, 109, 129);
    color: white;
}
