*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-size: cover;
    background:
    linear-gradient(100deg, rgba(37, 4, 121, 0.855), rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(28deg, rgb(184, 0, 31), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(280deg, rgba(212, 96, 7, 0.904), rgb(0 0 255 / 0%) 70.71%);
    height: 130vh;
}

.titulo{
    background-color: rgb(249, 166, 52);
    height: 200px;
    width: 65vh;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(249, 166, 52);
    color: white;
    font-size: 25px;
    align-content: center;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}	

.container {
    margin-top: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 500px;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    justify-content: center;
    justify-items: center;
}

form button{
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

form a{
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}


#editar{
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

#editar:hover{
    background-color: rgb(249, 166, 52);
    color: white;
}

#btnEnviarPc{
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

.botao{
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

#btnEnviarPc:hover{
    background-color: rgb(249, 166, 52);
    color: white;
}

#secundario{
    background-color: rgb(38, 48, 65);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
}



#secundario:hover{
    background-color: rgb(104, 109, 129);
    color: white;
}
