/* Importação correta da fonte */
@font-face {
    font-family: 'Stack-Sans';
    src: url('../fonts/StackSansText-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Stack-Sans', sans-serif;
}

body{
    background-size: cover;
    background-image: linear-gradient(
    140deg,
    hsl(240deg 100% 10%) 1%,
    hsl(219deg 100% 15%) 11%,
    hsl(217deg 100% 19%) 18%,
    hsl(216deg 100% 22%) 26%,
    hsl(215deg 100% 25%) 32%,
    hsl(215deg 100% 28%) 39%,
    hsl(214deg 100% 30%) 46%,
    hsl(214deg 100% 32%) 52%,
    hsl(203deg 96% 34%) 59%,
    hsl(195deg 95% 35%) 66%,
    hsl(189deg 94% 36%) 72%,
    hsl(184deg 93% 37%) 79%,
    hsl(180deg 92% 38%) 85%,
    hsl(177deg 92% 42%) 92%,
    hsl(174deg 92% 45%) 100%
  );
    min-height: 130vh;
    height: auto;
}

.titulo {
  display: flex;
  position: relative; 
  height: 200px;
  max-width: 700px;
  min-width: 300px;
  margin-top: 20px;
  width: auto;
  margin-bottom: 30px;
  font-size: 10px;
  align-content: center;
}

.bg1 {
  display: flex;
  max-height: 120px;
  padding: 20px 40px;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 40px;
  font-size: 10px;
  align-content: center;
  background-color: rgb(50, 122, 189);
  box-shadow: rgba(0, 0, 0, 0.089) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  z-index: 2;
}

.bg2 {
  position: absolute;
  top: 45px; 
  left: 15%;
  height: 120px;
  width: 80%;
  padding: 20px 40px;
  font-size: 10px;
  align-content: center;
  background-color: rgb(15,131,135);
  z-index: 1;
}

.titulo h1 {
  font-family: "Stack-Sans";
  align-self: center;
  font-weight: 500;
  font-size: clamp(1.7rem, 7vw, 45px); 
  display: inline-block;
  color: rgb(255, 255, 255);
}


.container {
    margin-top: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 350px;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    justify-content: center;
    justify-items: center;
}

form button{
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

form a{
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.botao-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#editar{
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width: 250px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

#editar:hover{
    background-color: rgb(249, 166, 52);
    color: white;
}

#btnEnviarPc{
    background-color: rgb(14, 65, 148);
    color: white;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    max-width: 250px;
    min-width: 100px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}


.form-control {
    height: 58px;
    padding: 16px 12px;
    font-size: 16px;
    box-sizing: border-box;
}

.botao{
    background-color: rgb(14, 65, 148);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    max-width: 250px;
    min-width: 100px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
}

#btnEnviarPc:hover{
    background-color: rgb(249, 166, 52);
    color: white;
}

#secundario{
    background-color: rgb(38, 48, 65);
    color: white;
    width: 50%;
    align-self: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    max-width: 250px;
    min-width: 100px;
    transition: 0.3s;
    text-align: center;
}



#secundario:hover{
    background-color: rgb(104, 109, 129);
    color: white;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper select {
    width: 100%;
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-wrapper .chevron-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 16px;
    height: 16px;
    pointer-events: none;
    transform: translateY(-50%);
}
