* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: linear-gradient(-20deg, #330a75 0%, #000000 100%);
    background-position: fixed;
    height: auto;
}

.container{
    display: flex;
    margin-top: 35px;
    min-height: 90vh;
    min-width: 150vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

