* {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1620121692029-d088224ddc74?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: fixed;
  height: auto;
}

.container {
  display: flex;
  margin-top: 35px;
  margin-bottom: 50px;
  min-height: 90vh;
  min-width: 150vh;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dashboard-container {
    flex-direction: column;
    align-items: space-around;
    align-content: space-between;
    justify-content: flex-start;
}

.dashboard-title {
    margin: 20px 0px 50px 20px;
    align-self: flex-start;
}

.dashboard-graphics {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard-graphic-card {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 2px 8px #0001;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 240px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dashboard-graphic-card canvas {
    max-width: 100%;
    max-height: 100%;
}
