* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-size: cover;
    background-image: linear-gradient(-20deg, #021520 0%, #563fab 100%);
    height: 100vh;
}

container{
    
}