* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-size: cover;
    background-image: linear-gradient(-20deg, #31047a 0%, #100e15 100%);
    height: 110vh;
}

.container{
    display: flex;
    margin-top: 35px;
    min-height: 80vh;
    min-width: 150vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

footer{
    margin-top: 2%;
    height: 7vh;
    background-color: rgb(19, 32, 53);
}