@font-face {
  font-family: "Stack-Sans";
  src: url("../fonts/StackSansText-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.titulo {
  display: flex;
  position: relative;
  height: 200px;
  max-width: 700px;
  min-width: 300px;
  margin-top: 20px;
  width: auto;
  margin-bottom: 30px;
  font-size: 10px;
  align-content: center;
}

.bg1 {
  display: flex;
  max-height: 120px;
  padding: 20px 40px;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 40px;
  font-size: 10px;
  align-content: center;
  background-color: rgb(50, 122, 189);
  box-shadow: rgba(0, 0, 0, 0.089) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  z-index: 2;
}

.bg2 {
  position: absolute;
  top: 45px;
  left: 15%;
  height: 120px;
  width: 80%;
  padding: 20px 40px;
  font-size: 10px;
  align-content: center;
  background-color: rgb(15, 131, 135);
  z-index: 1;
}

.titulo h1 {
  font-family: "Stack-Sans";
  align-self: center;
  font-weight: 500;
  font-size: clamp(1.7rem, 7vw, 45px);
  display: inline-block;
  color: rgb(255, 255, 255);
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    100deg,rgba(37, 4, 121, 0.855),rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(28deg, rgb(184, 0, 31), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(250deg, rgba(6, 2, 112, 0.904), rgb(0 0 255 / 0%) 70.71%);
  height: auto;
  min-height: 120vh;
  margin-bottom: 200px;
}

.computers-list {
  list-style: none;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.computer-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #ececef;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.447) 0px 2px 8px;
  transition: 0.5s;
  font-size: 20px;
}

.computer-header .btn.btn-danger {
  margin-left: auto;
}
.dropdown-box {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fafafa;
  transition: 0.5s;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  resize: none;
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-top: 30px;
  max-width: 50%;
  min-width: 320px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  padding: 5px 7px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(14, 65, 148);
  color: white;
  transition: 0.3s;
}

#editar {
  background-color: rgb(14, 65, 148);
  color: white;
  width: 50%;
  align-self: center;
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  text-align: center;
}

#editar:hover {
  background-color: rgb(249, 166, 52);
  color: white;
}

.btn-delete img {
  height: 30px;
  padding-right: 20px;
  transition: 0.3s;
}

.btn-delete img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

/* .status-circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    margin-bottom: 3px;
}
.status-ok {
    background: #4caf50;
}
.status-warning {
    background: #ffc107;
}
.status-error {
    background: #f44336;
} */
