* {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  color: white;
  height: 2vh;
  background-color: rgb(14, 65, 148);
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  height: 150px;
  padding-right: 30px;
}

.header2 img {
  height: auto;
}

#Logo{
  width: 60vw;      /* 10% da largura da tela */
  min-width: 100px;  /* tamanho mínimo */
  max-width: 300px; /* tamanho máximo */
  height: auto;
  padding-left: 10px;
  display: block;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2vh;
  flex-direction: column;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-items {
  display: flex;
  gap: 10px;
}

.menu-item {
  color: rgb(56, 56, 56);
  background-color: white;
  border: none;
  padding: 8px 14px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

a.menu-item {
  color: rgb(56, 56, 56);
  background-color: white;
  border: none;
  padding: 8px 14px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  text-align: center;
}

.menu-item:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(249, 166, 52);
}
.menu-item {
  text-decoration: none;
}

.submenu {
  position: relative;
}

.submenu-content {
  display: none !important;
  position: absolute;
  background: #fff;
  min-width: 120px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  left: 0;
  top: 100%;
  flex-direction: column;
}

.submenu-content a {
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  color: #333;
}

.submenu-content a:hover {
  background: #eee;
}

.submenu.open .submenu-content {
  display: block !important;
}


/* Responsivo */
@media (max-width: 1087px) {
  .menu-items {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .menu-items.open {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}